extends layout
block content
    h1 Cat'a'logue
    p(class='message')= message
    ul
        each cat, i in catlist
            li
                span=cat.name
                a(href='/catmin/delete/#{cat.id}') (delete)
                br
                em=cat.description

    a(href="/catmin/add") Add Cat